.hero{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../css/images/banner\ 2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: rgb(158, 117, 117);
    color: rgb(255, 255, 255);
    
}

.container {
max-width: 960px;
margin-left: auto;
margin-right: auto;
padding-left: 1rem;
padding-right: 1rem;



}